h1 {
    text-align: center;
}

.screen {

    position: relative;
    overflow: hidden;
    width: 240px;
    height: 224px;
    margin: auto;
    border: 1px solid black;
}

.map {
    width: 3384px;
    height: 224px;
    background: url("background.png") 0 0 no-repeat;
    position: absolute;

}

.mario {
    position: absolute;
    top: 185px;
    left: 20px;
    width: 16px;
    height: 16px;
    background: url("mario.png") 0 56px;
}
