h1 {
    text-align: center;
}

.screen {

    position: relative;
    overflow: hidden;
    width: 240px;
    height: 224px;
    margin: auto;
    border: 1px solid black;
}

.map {
    width: 3384px;
    height: 224px;
    background: url("img/background.png") 0 0 no-repeat;
    position: absolute;

}

#mario {
    position: absolute;
    top: 185px;
    left: 20px;
    width: 16px;
    height: 16px;
    background-image: url("img/mario.png");
}

.mario--face--right {
    background-position: -18px 57px;
}

.mario--move--right {
    background-position: -18px 57px;
    animation: mario--right .2s steps(2) infinite;
}

.mario--face--left {
    background-position: -18px 27px;
}

.mario--move--left {
    background-position: -18px 27px;
    animation: mario--left .2s steps(2) infinite;
}

.mario--jump--right {
    background-position: -74px 57px;
}

.mario--jump--left {
    background-position: -74px 27px;
}

.goombas {
    animation: goombas-play .8s steps(2) infinite;
}

.goombas--dead {
    background-position: -32px !important;
}

@keyframes mario--right {
    100% { background-position: -54px 57px; }
}

@keyframes mario--left {
    100% { background-position: -54px 27px; }
}

@keyframes goombas-play {
    100% { background-position: -32px; }
}



.victory {
    display: none;
    position: absolute;
    top: 0;
    left: calc(50% - 209px / 2);
    width: 200px;
    height: 136px;
    background: rgba(0,0,0,0.25);
    border: 5px solid rgba(0,0,0,0.5);
    margin-top: 14px;
}

.victory p {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 1px 1px 2px black;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.victory .hint {
    font-size: 12px;
    margin-top: 10px;
}




.modal-window {
    font-family: monospace;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 230px;
    height: 190px;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: white;
    background: rgba(0,0,0,0.25);
    border: 5px solid rgba(0,0,0,0.5);
}

.modal-window h1 {
    font-size: 1.3em;
}

.modal-window__form {
    display: none;
    margin-top: 44px;
}

.modal-window__input {
    box-sizing: border-box;
    font-family: monospace;
    display: block;
    margin: 0 auto 0.5em;
    width: 110px;
    font-size: 11px;
    border: 1px solid rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 2px black;
    color: white;
}

.modal-window__label {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 1.5em;
}

.modal-window__message {
    text-align: center;
    font-size: 10px;
}

.modal-window__message p {
    margin: 5px 0;
    height: 30px;
}

.modal-window__score {
    margin-top: 12px;
    text-align: center;
    font-size: 1em;
}

.modal-window__thank-you-text, .modal-window__loader-text,
.modal-window__saved-score-text, .modal-window__save-error-text,
#new_game_button, #clear_name_button, #save_score_button {
    display: none;
}