h1 {
    text-align: center;
}

.screen {
    width: 240px;
    height: 224px;
    background: ;
    margin: auto;
    border: 1px solid black;
}

.mario {
    width: 16px;
    height: 16px;
    background: url("mario.png") 0 56px;
}
